---
name: assign-author

on:
  issues:
    types: [opened, reopened]
  pull_request_target:
    types: [opened, reopened]
  workflow_call:

jobs:
  assign-author:
    runs-on: ubuntu-latest
    steps:
      - uses: toshimaru/auto-author-assign@16f0022cf3d7970c106d8d1105f75a1165edb516 # v2.1.1
