---
name: a reusable workflow golang-security

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: "."
      go-version:
        required: false
        type: string
        default: stable

jobs:
  golang-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ inputs.go-version }}
      - name: Run govulncheck
        working-directory: ${{ inputs.working-directory }}
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...
      - name: Run Gosec Security Scanner
        working-directory: ${{ inputs.working-directory }}
        run: |
          go install github.com/securego/gosec/v2/cmd/gosec@latest
          gosec ./...
